@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

.lalezar-regular {
  font-family: "Lalezar", system-ui;
  font-weight: 800;
  font-style: normal;
}

.sidebar .active {
  color: red;
}

/* Скролбар */
.category-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.category-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border: 4px solid transparent;
  background-clip: content-box;
}

.category-scrollbar::-webkit-scrollbar-thumb {
  background: #dfe4e9;
  border-radius: 10px;
}

.category-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #abaeb2;
  color: #000000;
}
